.rules-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.rules-header {
    display: flex;
    justify-content: center;
    align-self: center;
}

.rules-title {
    margin-right: 1rem;
}

.rules-container h3 {
    padding-left: 2.5rem;
    font-size: 1.2rem;
}

ul {
    font-size: 1.2rem;
    list-style-type: circle;
}

.no-bullet {
    list-style-type: none;
    font-size: 1.1rem;
}

.no-bullet > h3 {
    padding-left: unset;
    margin: 0;
}

* {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 800;
}

h1 {
    text-align: center;
}

hr {
    width: 80%;
    max-width: 40rem;
    border: 0.1rem solid #333333;
}

.game {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

.game span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background-color: #E0E0E0;
    border: 0.15rem solid #333333;
    border-radius: 0.5rem;
    font-size: 1.8rem;
}

.row0, .row1, .row2,
.row3, .row4, .row5 {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin: 0.1rem;
}

.keyboard {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.result {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.result-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    margin: 2rem;
}

.retry-button {
    font-size: 1.5rem;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
}

.keyboard button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div[class*='line'] {
    display: flex;
    justify-content: space-around;
    gap: 0.2rem;
}

div[class*='line'] + div[class*='line'] {
    margin-top: 0.5rem;
    gap: 0.2rem;
}

.line3 {
    padding-bottom: 0.5rem;
}

.line2 {
    padding: 0 30px;
}

.keyboard button {
    color: #000000;
    padding: 0.8rem;
    background: #E0E0E0;
    border: 0.15rem solid #333333;
    border-radius: 0.5rem;
    width: 1.5rem;
    text-align: center;
}


div[class*='line'] button:hover {
    cursor: pointer
}

div[class*='line'] button:active {
    transform: scale(.9);
}

.line3 button:first-of-type {
    width: 4.5rem;
    padding: 0;
}

.line3 button:last-of-type {
    width: 2.5rem;
    padding: 0;
}

span.incorrect-letter, button.incorrect-letter {
    background-color: #A28B81;
}

span.correct-letter, button.correct-letter {
    background-color: #FC9F4D;
}

span.correct-position, button.correct-position{
    background-color: #7BA23F;
}

@media only screen and (min-width: 700px) {
    div[class*='line'] button {
        width: 3rem;
    }

    .line3 button:first-of-type {
        width: 7rem;
        padding: 0;
    }

    .line3 button:last-of-type {
        width: 5rem;
        padding: 0;
    }

    .game span {
        width: 4rem;
        height: 4rem;
    }
}

.gap {
    height: 11rem;
}

@media only screen and (min-height: 800px) {
    .gap {
        display: none;
    }

    .keyboard {
        position: inherit;
    }

    .result {
        position: inherit;
    }
}
